body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.app {
  background-color: rgba(0,0,0,.8);
  height: 100vw;  
  position: relative;
}
* {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Cormorant Garamond', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 17px;
}
